@page
@model IndexModel
@{
    ViewData["Title"] = "Kaoruko";
}

<section class="container">
    <h2>途中経過</h2>
    <table class="table" style="table-layout: fixed">
        <thead>
            <tr>
                <th scope="col">かおるこ</th>
                <th scope="col">アーシェ</th>
                <th scope="col">兎亜</th>
                <th scope="col">未尋</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.RouteCount.GetValueOrDefault(Heroine.Kaoruko)</td>
                <td>@Model.RouteCount.GetValueOrDefault(Heroine.Ashe)</td>
                <td>@Model.RouteCount.GetValueOrDefault(Heroine.Toa)</td>
                <td>@Model.RouteCount.GetValueOrDefault(Heroine.Mihiro)</td>
            </tr>
        </tbody>
    </table>
</section>

<section class="container">
    <h2>進捗状況</h2>
    <dl>
        <dt>全ジョブ数</dt>
        <dd>@Model.WorkerJobStatistics.JobCount 件</dd>
        <dt>完了済みジョブ数</dt>
        <dd>@Model.WorkerJobStatistics.CompletedJobCount 件</dd>
        <dt>作業中ジョブ数</dt>
        <dd>@Model.WorkerJobStatistics.RunningJobCount 件</dd>
        <dt>未着手ジョブ数</dt>
        <dd>@Model.WorkerJobStatistics.PendingJobCount 件</dd>
    </dl>
    <div class="progress">
        @{
            var progressPercent = Model.WorkerJobStatistics.JobCount == 0
                ? 0
                : (int)((double)Model.WorkerJobStatistics.CompletedJobCount / Model.WorkerJobStatistics.JobCount * 100.0);
        }
        <div class="progress-bar" role="progressbar" style="width: @progressPercent%" aria-valuenow="@progressPercent" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</section>

<section class="container">
    <h2>稼働中のワーカー</h2>
    <partial name="Workers/_WorkersTable" model="Model.WorkerSummaries" />
    <p><a href="workers/">すべてのワーカーを見る</a></p>
</section>
